{% block content %}
    {% for item in items %}
    {% if searchId %}
        <a href="/view/{{item._id}}/{{searchId}}"><p>{{item.title}}</p></a>
    {% else %}
        <a href="/jobList/{{item._id}}"><p>{{item.title}}</p></a>
    {% endif %}
    {% endfor %}
{% endblock content %}
